.App {
  text-align: center;
}

.IndexMain, .AddMain, .UpdateMain{
  height: 100vh;
  background-image:url(https://media.istockphoto.com/id/183757452/photo/old-blank-open-book.jpg?b=1&s=170667a&w=0&k=20&c=ZYXFAB2HasxjtL_-5m7e5KMAfY9MY-l8XEeQEZr1v3U=);
  background-size: cover;
}

.NewButton {
  margin: 2%;
  width: 10%;
  background-color: lightgrey;
  border: 5px double darkred;
  color: darkred;
  text-decoration: none;
  padding: 4px;
}

.Form {
  margin: auto;
  width: 50%;
  padding: 20px;
  font-size:"20px";
  font-weight:800;
  color: whitesmoke;
  border: 8px double darkred;
  border-radius: 20px;
  background-color:darkgray;
}