* {
  margin:0;
  padding:0;
}

.App {
  text-align: center;
  background-image: url(https://wallpapercave.com/wp/wp3479784.gif);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
}

.Header {
  background-color: #5B2A5A;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;
  z-index: 999;
}

.HeaderFireball {
  height: 35px;
}

.HeaderNasa {
  color: red;
  font-size: 18px;
  margin: 0 20px;
}

.NasaLogo {
  height: 45px;
}

.Nasa {
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: yellow;
  font-weight: 800;
}

.Label {
  color:yellow;
  font-weight: 800;
  font-size: 16px;
  text-align: end;
}

.Align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
}

.Radio {
  margin-right: 10px;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

.LeftContainer {
  width: 15%;
  min-width: 200px;
  margin: 20px auto;
  height: 61dvh;
  display: flex;
  flex-direction: column;
}

.InputSearches {
  display: flex;
  justify-content: center;
}


.Searches {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px double goldenrod;
}

.Search {
  width: 170px;
  opacity: 80%;
}

.Clear {
  position: relative;
  width: 180px;
  padding: 5px;
  color:  yellow;
  background-color: transparent;
  font-weight: 900;
  box-shadow:inset 2px 2px 2px 1px rgba(255,255,255,.4),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  opacity: 90%;
}

.Clear:hover {
  color:  #5B2A5A;
  background-color: yellow;
}

.Clear:active {
  top:2px;
}

/* .SortBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SortLabel {
  color: yellow;
  font-weight: 800;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid yellow;
  width: 163px;
  background-color: #5B2A5A;
} */

.MapBox {
  width: 40%;
  min-width: 300px;
  height: 100vh;
  margin: 20px auto;
  border: 5px double goldenrod;
  }

.GoogleMap {
  margin: 2px;
  height: 502px;
  width: 98%;
  opacity: 90%;
}

.DataContainer { 
  width: 325px;
  margin: 20px auto;
  padding: 5px 20px;
  border: 5px double goldenrod;
  overflow-y: scroll;
  height: 502px;
}

.Results {
  margin: 15px 0
}

.FilterBox { 
  width: 150px;
  margin: 0 auto;
  padding: 15px;
  background-color: rgba(91, 42, 90, .6);
  border: 5px double goldenrod;
}

p {
  color: yellow;
  list-style-type:none;
  text-align: start;
}



/* ////////////////// SLIDER */

.SliderBox {
  margin: 0 auto;
  width: 180px;
  height: 115px;
  border: 5px double goldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SliderContainer {
  padding-top: 50px;
}

.TextValueContainer {
  margin: 13px auto;
  color:yellow;
  font-weight: 700;
}

.TextValue {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.TextValueTitle {
  /* text-decoration: underline; */
  margin: 0;
}


/* //////// MAP API CSS */
.Map {
  width: 100%;
  height: 100%;
  opacity: 90%;
}

.LocationIcon {
  font-size: 2rem;
  color:red;
  cursor: pointer;
}

.Loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.Loader img {
  width: 400px;
}

.Loader h1 {
  margin-top: -100px;
}

.LocationInfo {
  position: absolute;
  top: 25%;
  left: 27%;
  background:rgba(224, 221, 224, 0.5);
  border: 5px double goldenrod;
  width: 190px;
  padding: 5px;
}

.LocationInfo ul {
  list-style-type: none;
  padding: 0;
}

.LocationInfo h2 {
  color: #5B2A5A;
  font-weight: 800;
  text-align: start;
  margin-left: 20px;
}

.LocationInfo li {
  color: black;
  font-weight: 800;
  text-align: start;
  margin-left: 20px;
}

.Info {
  color: yellow;
  font-weight: 600;
}

.Close {
  font-weight: 900;
  text-align: end;
  margin-right: 10px;
  cursor: pointer;
  color: black;
}



tr, td {
  color:white;
}
th {
  color:red;
}

.GoogleMap2 {
  height: 350px;
  width: 350px;
}

#myBtn {
  /* text-decoration: none; */
  color: white;
  margin-right: 6px;
}