* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.MainContainer {
    background-color: black;
    width: 100dvw;
    min-height: 100dvh;
    background-attachment: scroll;
    overflow-x: hidden;
}

/* TITLE STYLE */
.Title, .SubTitle, .Signup {
    text-align: center;
    color: white;
}

.Title {
    padding: 15px;
}

.Gold {
    color:#C89211
}

.Signup {
    padding-top: 15px ;
}

.Signup span {
    margin-left: 10px;
}

.Unauthorized {
    text-align: center;
    padding-top: 20px;
    color: red;
}

.RegisterLink, .LoginLink {
    display:inline-flex;
    color: #C89211;
	transform: scale(1.2, 1.2) translateY(-1px);
}

.RegisterLink {
    margin-left: 13px;
}

.LoginLink {
    margin-left: 10px;
}

.RegisterLink:hover, .LoginLink:hover {
    transform: scale(1.4, 1.4) translateY(-4px);
    transition: 0.2s ;
}

.Title span {
    color: #C89211;
}
/* END TITLE STYLE */

/* MAP STYLE */
.MapContainer {
    margin: 20px auto;
    width: 75dvw;
    height:75dvh;
    min-height: 375px;
    min-width: 370px;
    border: 5px solid #C89211;
    border-radius: 5px;
}

.MapBox {
    background-color: black;
}

.mapbox-improve-map {
    display: none;
}

.mapboxgl-ctrl-attrib {
    border-top: 3px solid #C89211;
    border-left: 3px solid #C89211;
}

.mapboxgl-ctrl-group {
    border: 4px double #C89211
}

.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-attrib-inner a {
    background-color: black;
    color: #C89211;
}

button.mapboxgl-ctrl-compass, .mapboxgl-ctrl-compass,.mapboxgl-ctrl-zoom-out span, .mapboxgl-ctrl-zoom-in span  {
    background-color: #C89211;
}

.mapboxgl-ctrl-icon:hover, button.mapboxgl-ctrl-compass:hover {
    background-color: transparent;
}
/* MAP STYLE */

/* MARKER STYLES */
.Marker {
    position: absolute;
    top:-30px;
    width: 25px;
    height: 25px;
    border: 2px solid #C89211;
    border-radius: 50%;
    background-image: url("./assets/default_key.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 25px 8px -10px #000000fe;
    cursor: pointer;
}

.HQ {
    background-image: url("./assets/Key_Logo_Round.png");
    box-shadow: 0px 25px 8px -10px #000000fe;
    z-index: 10;
}

.Pato {
    background-image: url("./assets/pato_key.png");
    box-shadow: 0px 25px 5px -10px #0A5C36fe;
}

.Paloma {
    background-image: url("./assets/paloma_key.png");
    box-shadow: 0px 25px 5px -10px #5F5D5Efe;
}

.Gallo {
    background-image: url("./assets/gallo_key.png");
    box-shadow: 0px 25px 5px -10px #c13848fe;
}
/* END MARKER STYLES */

/* MAP MARKER POPUP */
.mapboxgl-popup {
    z-index: 999;
}

.mapboxgl-popup-content {
    width: 280px;
    background-color: black;
    color: white;
    border: 4px solid #C89211;
    padding: 17px 5px 10px 5px;
    border-radius: 5px;
    box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.9);
    z-index: 9999;
}

.mapboxgl-popup-content div div{
    display: flex;
    justify-content: center;
}

.mapboxgl-popup-content h1 {
    color: #C89211;
    text-align: center;
    font-size: 24px;
    padding-top: 5px;
    margin: 10px 0;
    text-transform: capitalize;
}

.mapboxgl-popup-content p {
    margin: 4px;
    color: #C89211;
    font-size: 14px;
}

.mapboxgl-popup-content a {
    margin: 4px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

.mapboxgl-popup-content a:focus {
    outline: none;
}

.mapboxgl-popup-content img {
    height: 75px;
    width: 75px;
    border:2px solid #C89211;
    border-radius: 50%;
    margin: 10px auto;
}

.mapboxgl-popup-close-button {
    background-color: #C89211;
    color: white;
    font-weight: 800;
    border: none;
    margin: 4px 4px 0 0;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.mapboxgl-popup-close-button:hover {
    background-color: red;
    color: white;
}

/* END MAP MARKER POPUP */

/* PHONE VIEW SPECS */
@media (max-width: 430px) {
	.MapContainer {
        height: 450px;
        border: 3px solid #C89211;
    }
    .mapboxgl-popup-content {
        border: 4px solid #C89211;
    }
    .mapboxgl-popup-content h1 {
        font-size: 22px;
    }
    .mapboxgl-popup-content a {
        font-size: 13px;
        font-weight: 700;
    }
    .mapboxgl-popup-content img {
        height: 70px;
        width: 70px;
    }
}
/* END PHONE VIEW SPECS */

/* BAD LINK PAGE */
.YikesContainer {
    background-color: black;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.YikesButton {
    position: relative;
    left: 47.5%;
    top: -70px;
    width: 160px;
    height: 30px;
    background-color: #D7705B;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.Yikes {
    margin: 0 auto;
    width: 370px;
    border: 4px solid #D7705B;
    border-radius: 5px;
}
/* BADLINK PAGE */

/* FORM STYLE */
.FormWrapper {
    width: 380px;
    margin: 0px auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.RegForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px double #C89211;
    border-radius: 5px;
    padding: 10px;
    width: 330px;
}

.InputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

label {
    color: #C89211;
    font-weight: 800;
}

input.geoapify-autocomplete-input,
input#userName,
input#instagram,
input#facebook,
input#spotify,
input#email,
input#password,
input#confirmPassword
{
    width: 180px;
    padding: 2px 5px 2px 5px;
    line-height: 20px;
    height: 20px;
    font-size: 16px;
    background-color: white;
    border: 2px solid #C89211;
    border-radius: 5px;
    text-align: center;
    color:#C89211;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

select#JVM {
    width: 193.2px;
    padding: 2px 5px 2px 5px;
    line-height: 20px;
    height: 27.2px;
    font-size: 16px;
    color:#C89211;
    border: 2px solid #C89211;
    border-radius: 5px;
    text-align: end;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

select#JVM option {
    width: 200px;
    text-align: center;
    color: black;
    background: #c0c0c0;
}

input.geoapify-autocomplete-input:hover,
input#userName:hover,
input#instagram:hover,
input#facebook:hover,
input#spotify:hover,
input#email:hover,
input#password:hover,
input#confirmPassword:hover,
select#JVM:hover
{
    background: #c0c0c0;
    color: #C89211;
}

input.geoapify-autocomplete-input:focus,
input#userName:focus,
input#instagram:focus,
input#facebook:focus,
input#spotify:focus,
input#email:focus,
input#password:focus,
input#confirmPassword:focus,
select#JVM:focus
{
    -webkit-box-shadow: 0 0 4px 1px rgba(255, 140, 0, 0.75);
    -moz-box-shadow: 0 0 4px 1px rgba(255, 140, 0, 0.75);
    box-shadow: 0 0 4px 1px rgba(255, 140, 0, 0.75);
    border: 2px solid darkorange;
    background: #c0c0c0;
    color: #C89211;
}

input.geoapify-autocomplete-input:-webkit-autofill,
input#userName:-webkit-autofill,
input#instagram:-webkit-autofill,
input#facebook:-webkit-autofill,
input#spotify:-webkit-autofill,
input#email:-webkit-autofill,
input#password:-webkit-autofill,
input#confirmPassword:-webkit-autofill,
select#JVM:-webkit-autofill,
input.geoapify-autocomplete-input:autofill,
input#userName:autofill,
input#instagram:autofill,
input#facebook:autofill,
input#spotify:autofill,
input#email:autofill,
input#password:autofill,
input#confirmPassword:autofill,
select#JVM:autofill
{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    border: 2px solid #C89211;
    -webkit-text-fill-color: #C89211;
}

.geoapify-close-button svg {
    color: red;
}

.FormButton {
    margin-top: 10px;
    position: relative;
    padding: 3px 10px;
    border: 2px solid white;
    border-radius: 5px;
    background: #C89211;
    color: white;
    font-weight: 800;
    transition: 0.15s;
}

.FormButton:hover {
    border-color: #C89211;
    background: white;
    color: #C89211;
    transition: 0.15s;
    box-shadow: 0px 4px 10px #C89211;
}

.FormButton:active {
    top: 2px;
    transform: scale(0.9, 0.9);
    transition: 0.15s;
}

.FormFlex {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin: 20px 0 0 80px;
    
}

.SignIn {
    color: white;
    text-align: end;
}

.FormGold {
    position: relative;
    margin-left: 14px;
    color:#C89211
}

.FormGold:hover {
    color: #C89211;
    top: -2px;
    transform: scale(1.2, 1.2);
    transition: 0.15s;
}

.Disclaimer {
    width: 370px;
    margin: 30px auto 0;
    font-size: 14px;
    color: #C89211;
    text-align: center;
}

.DisclaimerText {
    width: 370px;
    margin: 10px auto 0;
    font-size: 14px;
    color: white;
    text-align: center;
}

.MapLink {
    position: relative;
    margin-top: 25px;
    color: #C89211;
}

.MapLink:hover {
    transform: scale(1.2, 1.2);
    transition: 0.15s;
}
/* END FORM STYLES */

/* PROFILE SPINNER */
.SpinnerBackground {
    background-color: black;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Spinner{
    height: 300px;
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
}

.Center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    pointer-events: none;
    z-index: 999;
}

@media (prefers-reduced-motion: no-preference) {
    .Spinner {
    animation: Spinner-spin infinite 10s linear;
    }
}

@keyframes Spinner-spin {
    from {
    transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* END PROFILE SPINNER */

/* PROFILE PAGE */
.ProfileContainer {
    width: 345px;
    margin: 10px auto 0;
    padding: 15px;
    border: 5px double #C89211;
    border-radius: 5px;
}

.ProfileFlex {
    width: 380px;
    margin: 0px auto 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ProfileHeader {
    text-align: center;
    padding-top: 20px;
    Color:white;
}

.ProfileSubTitle {
    text-align: center;
    color: #C89211;
    margin: 10px 0;
    font-size: 12px;
}

.JVMicon {
    position: relative;
    top: 12px;
    height: 80px;
    width: 75px;
    border: 3px solid #C89211;
    border-radius: 50%;
}

.LocationTitle, .SocialsTitle {
    position:relative;
    top: -2px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.ProfileFlex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 15px 0;
}

.ProfileUpdate {
    width: 145px;
    padding: 3px 5px;
    font-weight: 800;
    color: white;
    background-color: #C89211;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
}

.ProfileUpdate:hover {
    color: #C89211;
    border-color: #C89211;
    background-color: white;
    box-shadow: 0px 4px 15px #C89211;
}

.ProfileUpdate:active {
    transform: scale(0.9, 0.9) translateY(2px);
    transition: 0.1s ;
}

.ProfileTitle {
    color: #C89211;
}

.ProfileText {
    color: white;
    text-align: end;
    text-transform: capitalize;
    font-size: 18px;
}

.SeperationLine {
    border: 1px solid #C89211;
    width: 90%;
    margin: 15px auto;
}

.SeperationLineFull {
    border: 3px solid #C89211;
    width: 100%;
    margin: 10px auto 25px;
}

.ProfileLinks {
    width: 345px;
    margin: 0 auto 0px;
    padding: 15px;
    border-left: 5px double #C89211;
    border-right: 5px double #C89211;
    border-bottom: 5px double #C89211;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProfileToMap {
    position: relative;
    padding-left: 9px;
    color: #C89211;
    font-size: 18px;
}

.Logout {
    position: relative;
    color:white;
    font-size: 18px;
}

.ProfileDelete {
    position: relative;
    padding-right: 9px;
    color: red;
    font-size: 18px;
}

.ProfileToMap:hover, .Logout:hover, .ProfileDelete:hover {
    transform: scale(1.4, 1.4) translateY(-2px);
    transition: 0.2s ;
}

.ProfileToMap:active, .Logout:active, .ProfileDelete:active {
    transform: scale(1.4, 1.4) translateY(1px);
    transition: 0.1s ;
}