.App {
  text-align: center;
  background-color:lightsteelblue;
  height: 1000px;
  padding: 30px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
}

.Result {
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  background-color: burlywood;
  color: brown;
  border: 4px solid brown;
  border-radius: 15px;
}

.Form {
  width: 640px;
  height: 640px;
  margin: 10px auto;
  padding: 20px;
  background-image: url(https://media.tenor.com/C6qR8z_eVGEAAAAd/star-wars-galaxy.gif);
  background-color: burlywood;
  color: brown;
  border: 4px solid brown;
  border-radius: 15px;
}





  select {
    background-color: blanchedalmond;
    color: brown;
  }

  input {
    background-color: blanchedalmond;
    border: 3px solid brown;
    border-radius: 5px;
  }

  .Button {
    background-color: darkred;
    color: blanchedalmond;
  }