/*App.js page */
.App {
  text-align: center;
  background-color:tan ;
  min-height: 1000px;
  padding: 20px;
}

h1 {
  color: darkolivegreen;
  margin: 0px;
}

.ErrorText {
  color: red;
  font-weight: 900;
}

.TodoForm {
  border: 2px solid darkolivegreen;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: auto;
}  

.TodoLabel {
  color: darkolivegreen;
  font-weight: 700;
}

.TodoInput {
  background-color: darkgrey;
  border-radius: 5px;
}

.TodoInput:hover {
  background-color: lightgrey;
  border-radius: 5px;
}

.TodoButton {
  background-color: lightBlue;
  border-color: blue;
  color: darkblue;
  border-radius: 5px;
}

.TodoButton:hover {
  background-color: darkblue;
  border-color: blue;
  color: whitesmoke;
  border-radius: 5px;
}

.DisplayContainer{
  border: 2px solid darkolivegreen;
  border-radius: 10px;
  padding: 10px;
  width: 600px;
  margin: 20px auto;
}

th {
  color: darkolivegreen;
  font-weight: 700;
}

td {
  color: darkolivegreen;
}

.UpdateInput {
  background-color: darkgrey;
  border-radius: 5px;
  width: 100px;
  margin-left: 20px;
}

.UpdateInput:hover {
  background-color:lightgray;
  border-radius: 5px;
  width: 100px;
  margin-left: 20px;
}

.SubmitButton {
  background-color: lightBlue;
  border-color: blue;
  color: darkblue;
  border-radius: 5px;
  margin-left: 5px;
}

.SubmitButton:hover {
  background-color: darkblue;
  border-color: blue;
  color: whitesmoke;
  border-radius: 5px;
  margin-left: 5px;
}

.DeleteButton {
  background-color: lightcoral;
  border-color: black;
  color: black;
  border-radius: 5px;
  margin-left: 40px;
}

.DeleteButton:hover {
  background-color: red;
  border-color: black;
  color: whitesmoke;
  border-radius: 5px;
  margin-left: 40px;
}

.Complete {
  text-decoration: line-through;
  text-decoration-color:red ;
  text-decoration-thickness: 3px;
  font-weight:500;
  font-style: italic;
}

.NotComplete {
  font-weight:500;
}

.Checkbox:hover {
  outline: max(2px, 0.15em) solid red;
  outline-offset: max(2px, 0.15em);
  accent-color: red;
  transition: all .15s ease;
}

.Checkbox {
  height: 15px;
  width: 15px;
  accent-color: red;
}