.App {
  font-family: sans-serif;
  text-align: center;
  background: #222831;
  color: #fff;
  letter-spacing: 0.25em;
  height: 100vh;
}

h5{
  font-size: 30%;
  font-weight:800;
  color: #00adb5;
  margin:0;
  padding: 0;
}

p {
  border: 2px solid #00adb5;
  margin-top: .5%;
  font-size: 30%;
  margin: 1% auto;
  padding: 1%;
  width: 80%;
  box-sizing: border-box;
}

/*todo css below */

.Container {
  height: 50%;
  border: 2px solid darkolivegreen;
  border-radius: 10px;
  padding: 2%;
  width: 70%;
  margin: auto;
}

h1 {
  color: #00adb5;
  margin: 0;
  font-size: 80%;
}

label {
  font-size: 40%;
}

.ErrorText {
  color: red;
  font-weight: 900;
}

.OuterShell {
  margin: 5%;
}

th {
  color: #00adb5;
  font-weight: 700;
  font-size: 50%;
  text-decoration: underline;
}

td {
  color: darkolivegreen;
  font-size: 45%;
  color: whitesmoke;
}

.Id {
  color: #00adb5;
}

/* buttons and input style */


.TodoLabel {
  color: #00adb5;
  font-weight: 700;
}

.TodoInput {
  background-color: darkgrey;
  border-radius: 5px;
  font-size: 30px;
}

.TodoInput:hover {
  background-color: lightgrey;
  border-radius: 5px;
}

.TodoButton {
  background-color: lightBlue;
  border-color: blue;
  color: darkblue;
  border-radius: 5px;
}

.TodoButton:hover {
  background-color: darkblue;
  border-color: blue;
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

.UpdateInput {
  background-color: darkgrey;
  border-radius: 5px;
  width: 50%;
  margin-left: 20px;
  font-size: 25px;
}

.UpdateInput:hover {
  background-color:lightgray;
  border-radius: 5px;
  width: 50%;
  margin-left: 20px;
}

.SubmitButton {
  background-color: lightBlue;
  border-color: blue;
  color: darkblue;
  border-radius: 5px;
  margin-left: 5px;
}

.SubmitButton:hover {
  background-color: darkblue;
  border-color: blue;
  color: whitesmoke;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
}

.DeleteButton {
  background-color: lightcoral;
  border-color: black;
  color: black;
  border-radius: 5px;
  margin-left: 10%;
}

.DeleteButton:hover {
  background-color: red;
  border-color: lightcoral;
  color: whitesmoke;
  border-radius: 5px;
  margin-left: 10%;
  padding: 5px;
}

.Complete {
  text-decoration: line-through;
  text-decoration-color:red ;
  text-decoration-thickness: 30%;
  font-weight:700;
  font-style: italic;
}

.NotComplete {
  font-weight:700;
}

.Checkbox:hover {
  outline: max(2px, 0.15em) solid red;
  outline-offset: max(5px, 0.15em);
  accent-color: red;
  transition: all .15s ease;
}

.Checkbox {
  height: 25px;
  width: 25px;
  accent-color: red;
}