.App {
  font-family: sans-serif;
  text-align: center;
  background: #222831;
  color: #fff;
  letter-spacing: 0.25em;
  height: 100vh;
  width: 100%;
}

hr{
  width: 90%;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

h5{
  font-size: 15px;
  /* margin:0;
  padding: 0; */
}

.Paragraph, .ExampleNames{
  color: darkred;
}

.Title{
  color: yellow
}

label{
  font-size: 20px;
  margin-right: 10px;
}

select{
  margin-bottom: 5px;
  border: 3px solid  #00adb5;
  border-radius:  5px;
}

input{
  margin-bottom: 5px;
  padding: 5px;
}

.Error {
  color:yellow;
  font-size: 20px;
  font-weight: 800;
}

p {
  color: black;
  font-size: 15px;
  /* border: 2px solid white; */
  margin-top: 5px;
  /* margin: 0; */
  padding: 5px;
  box-sizing: border-box;
}

.TabsContainer {
  width: 100%;
  display: flex;
  padding: 2px;
}

.TabPanelContainer {
  
}

.TabDisplay {
  width: 100%;
}

.TabHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TabsHolder {
  display: flex;
}

.StylizedTab {
  color: yellow;
  width: 100%;
  padding: 20px 0px;
  font-size: 1.25rem;
  background-color: transparent;
  border:none;
  cursor: pointer;
  box-shadow: inset 0 0 8px 0 yellow;
}

.StylizedTab:hover {
    animation: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.5s;
    -webkit-box-shadow: inset 0 0 10px 0px yellow;
    box-shadow: inset 0 0 20px 0px yellow;
    color: yellow;
    font-weight: bolder;
}

.StylizedTab:active {
  background-color: yellow;
}

.Tab1{
  
}

.Tab2{
background-image: url("./components/tabDisplays/images/pokeball.png");
}

.Container {
  background: url("./components/tabDisplays/images/container_bg.png");
}

.InnerBox {
  background: url("https://lh3.googleusercontent.com/5-w5yrCLD69zlOIfgMndRr4dMhrKW5u8nJVojvrUqnSI8ln1ywgqzNFjWQJYrN2YlVSBMHNyXzhcIrQXRPUYTcqJXjAzYbJyXiXb_uK3YO2G-g=rw-e365-w1440");
  background-position: center;
  background-size:cover ;
  margin: 0 auto;
  width: 90%;
  min-height: 30vh;
  display: flex;
  padding-top: 5%;
}
.ContentGo {
  background: url("https://lh3.googleusercontent.com/39fWyzZddwsbUYLvJ99H5Gxj2erERkIRY--psXpnKMerQfZmO5Wd5AmULRgmmlNZaSrcUkvKAf0liZBkPquwhmmfeWEql_S_mnapIzau83l0WV4=rw-e365-w1440");
  background-position: center;
  background-size:cover ;
  /* height: 700px; */
  margin: 0 auto;
  width: 90%;
  min-height: 70vh;
}


.Spinner{
  aspect-ratio: 50%;
  width: 90%;
  max-height: 800;
  max-width: 1100;
  z-index: -9999;
}

.spinnerContainer {
  position: relative;
  top: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 950px;
}

@media (prefers-reduced-motion: no-preference) {
  .Spinner {
    animation: PokeSpinner infinite 2s linear;
  }
}

@keyframes PokeSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PokeLogo{
  margin-top: 20px;
  height:150px;
}

.PokedexLogo{
  border: 4px solid #84d1f5;
  margin-top: 20px;
  height:400px;
  width: 80%;
}

.Examples{
  display: flex;
  justify-content: space-evenly;
}

.ExampleNames{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Tab1Main {
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding: 30px;
}

.Pika {
  height: 400px;
  display: flex;
}

.PokeDexTitle{
  color: #84d1f5;
}

.PokedexHr {
  background-color:  #84d1f5;
  height: 3px;
}

form {
  position: relative;
  z-index: 1;
}

/* .RandomPick {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  background-color: yellow;
  border: 5px double silver;
  border-radius: 10px;
} */

.FormInput {
  width: 250px;
  font-size: 25px;
  border: 3px solid #84d1f5;
  background-color: grey;
  color: yellow;
  font-weight: 600;
  opacity: 80%;
}

label {
  color: #84d1f5;
  font-size: 25px;
  font-weight: 800;
}

/* .FormButton {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  background-color: yellow;
  border: 5px double silver;
  border-radius: 10px;
}
.FormButton:active {
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  background-color: yellow;
  border: 5px double silver;
  border-radius: 10px;
  box-shadow: 3px 2px 22px 1px #ebe010;
} */

.ResultShell {
  margin-top: -745px;
  isolation: isolate;
}

.Results {
  color: yellow;
  width: 100%;
  font-size: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}
.Result {
  border: 5px solid #84d1f5;
  background-color: grey;
  opacity: 80%;
  color: yellow;
  font-size: 30px;
  text-align: start;
  padding: 0 10px 0 10px ;
  border-radius: 20px;
  height: 200px;
}

.Name {
  padding: 30px 10px 0 10px ;
  border: 5px solid #84d1f5;
  background-color: grey;
  opacity: 80%;
  border-radius: 20px;
  height: 160px;
}

.ID {
  padding-bottom: 50px;
  border: 5px solid #84d1f5;
  background-color: grey;
  opacity: 80%;
  border-radius: 20px;
  height: 70px;
  width: 200px;
  margin: auto;
}

.ResultImage {
  height: 350px;
  width: 350px;
  padding-top: 45px;
  padding-right: 135px;
}

.ErrorImg {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 37.5%;
  right: 0;
  height: 400px;
  width: 400px;
}

.ErrorText{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 25px;
  font-weight: 900;
  color: #ebe010;
  
}

.Footer {
  padding: 3%;
  background-color: #393E46;
}

.FooterFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
}

.FooterLogos{
  padding-top: 20px;
  color: yellow;
  font-size: 15px;
  font-weight: 800;
  width: 30%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 70px;
}

.FooterHr {
  background-color:  yellow;
  height: 3px; 
}

.List1, .List2 {
  font-size: 16px;
  color: yellow;
  list-style-type:none;
}

#ShakingButton {
  height: 50px;
  width: 250px;
  border: 5px solid yellow;
  border-radius: 10px;
  background-color: lightyellow;
  color:brown;
  font-size: 20px;
  font-weight: 800;
opacity: 80%;
}

.shake.shake{
  animation: shake 1s infinite;
}
@keyframes shake {
0%  { transform: translate(2px, 1px)   rotate(0deg);  }
10% { transform: translate(-1px, -2px) rotate(-2deg); }
20% { transform: translate(-3px, 0px)  rotate(3deg);  }
30% { transform: translate(0px, 2px)   rotate(0deg);  }
40% { transform: translate(1px, -1px)  rotate(1deg);  }
50% { transform: translate(-1px, 2px)  rotate(-1deg); }
60% { transform: translate(-3px, 1px)  rotate(0deg);  }
70% { transform: translate(2px, 1px)   rotate(-2deg); }
80% { transform: translate(-1px, -1px) rotate(4deg);  }
90% { transform: translate(2px, 2px)   rotate(0deg);  }
100%{ transform: translate(1px, -2px)  rotate(-1deg); }
}

