.App {
  font-family: sans-serif;
  text-align: center;
  background: #222831;
  color: #fff;
  letter-spacing: 0.25em;
  height: 100vh;
}

h5{
  font-size: 30%;
  font-weight:800;
  color: #00adb5;
  margin:0;
  padding: 0;
}

p {
  border: 2px solid white;
  margin-top: 5px;
  font-size: 15%;
  /* margin: 0; */
  padding: 5px;
  box-sizing: border-box;
}

