* {
    margin: 0;
    padding: 0;
}

.MainContainer {
    background-color: black;
    width: 100dvw;
    height: 100dvh;
}

.Title, .SubTitle, .Signup {
    text-align: center;
    color: whitesmoke;
}

.Title {
    padding: 15px;
}

.Signup {
    padding-top: 15px ;
}

.Signup span {
    margin-left: 10px;
}

.SignupLink, .LoginLink {
    display:inline-flex;
    margin-left: 13px;
    color: #C89211;
	transform: scale(1.2, 1.2) translateY(-1px);
}

.SignupLink {
    margin-left: 13px;
}

.LoginLink {
    margin-left: 9px;
}

.SignupLink:hover, .LoginLink:hover {
    transform: scale(1.4, 1.4) translateY(-4px);
    transition: 0.2s ;
}

.Title span {
    color: #C89211;
}

.MapContainer {
    margin: 20px auto;
    width: 75dvw;
    height:75dvh;
    min-height: 375px;
    min-width: 375px;
    border: 5px solid #C89211;
}

.MapBox {
    background-color: black;
}

.mapbox-improve-map {
    display: none;
}

.mapboxgl-ctrl-attrib {
    border-top: 3px solid #C89211;
    border-left: 3px solid #C89211;
}

.mapboxgl-ctrl-group {
    border: 4px double #C89211
}

.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-attrib-inner a {
    background-color: black;
    color: #C89211;
}

.mapboxgl-ctrl-icon, button.mapboxgl-ctrl-compass, .mapboxgl-ctrl-compass {
    background-color: #C89211;
}

.mapboxgl-ctrl-icon:hover, button.mapboxgl-ctrl-compass:hover {
    background-color: whitesmoke;
}

.Marker {
    position: absolute;
    top:-30px;
    width: 25px;
    height: 25px;
    border: 2px solid #C89211;
    border-radius: 50%;
    background-image: url("./assets/default_key.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 25px 8px -10px #000000a0;
}

.HQ {
    background-image: url("./assets/Key_Logo_Round.png");
    box-shadow: 0px 25px 8px -10px #000000a0;
}

.Pato {
    background-image: url("./assets/pato_key.png");
    box-shadow: 0px 25px 5px -10px #0A5C36a0;
}

.Paloma {
    background-image: url("./assets/paloma_key.png");
    box-shadow: 0px 25px 5px -10px #5F5D5Ea0;
}

.Gallo {
    background-image: url("./assets/gallo_key.png");
    box-shadow: 0px 25px 5px -10px #c13848a0;
}