.App {
  text-align: center;
  padding: 20px;
  background-color: maroon;
}

h1 {
  color: yellow;
  font-weight: 800;
}

p { 
  width: 300px;
  margin: 20px auto;
  background-color: brown;
  border: 5px double goldenrod;
}

li {
  color: yellow;
  list-style-type: none;
}