.App {
  text-align: center;
  padding: 10px;
  background-color: darkgrey;
  min-height: 1000px;
}

.tab {
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 10px 20px;
}

.selectedTab {
  color: white;
  background-color: palevioletred;
  border: 2px solid yellow;
}

.nonSelectedTab {
  color: black;
  background-color: silver;
  border: 2px solid #bbbbbb;
}

.results {
  width: 85%;
  height: 100px;
  margin: 20px auto;
  padding:5px;
  border: 2px solid yellow;
}
