* {
  margin:0;
  padding:0;
}

.Origon {
  background-color: #FCFEFF;
  padding: 20px 0;
}

/* HEADER.JSX */
Nav {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NavTitle {
  height: 15%;
  max-height: 150px;
  width:95dvw;
}

.TitleOf, .TitleName, .FullStack, .Tldr {
  text-align: center;
  color: #342833;
  font-family: 'Courier New', Courier, monospace;
}

.TitleName, .FullStack, .Tldr {
  font-size: 3rem;
}
/* END HEADER.JSX */

/* TYPINGTEXT.JSX */
.RotatingText {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.TypingText {
  font-family: 'Courier New', Courier, monospace;
  color: #342833;
  font-weight:700;
  font-size: 3rem;
}

.txt-rotate {
  color: #FF5C03;
  margin-left: -50px;
  font-weight:900;
}

.txt-rotate {
  border-right: 0.08em solid #FF5C03;
  padding-right: 5px;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #FF5C03; }
}
/* END TYPINGTEXT.JSX */

/* CONTENT.JSX */
.ContentText,.ContentTextSmall {
  color: #342833;
  width: 85%;
  margin: 10px auto;
  text-align: center;
  font-family: "Syncopate";
  font-weight: 300;
  font-size: 1.8rem;
}

.ContentText b {
  font-weight: 900;
}

.List {
  width: 500px;
  margin: 20px auto;
  padding-left: 10px;
  font-size: 1.2rem;
  text-align: start;
}

li {
  margin: .4rem 0;
}

.ContentTextSmall {
  font-size: .6rem;
  margin: 0 auto;
}

.PortfolioLink {
  position: relative;
  color: #FF5C03;
  font-weight: 900;
  text-decoration: none;
  transition: transform .2s ease-in-out;
}

.PortfolioLink:hover {
  transition: all .2s ease-in-out;
  font-size: 115%;
  color: #ff9a64;
}

@keyframes heartbeat { 
  0% { transform: scale(1); } 
  50% { transform: scale(1.2, 1); } 
  100% { transform: scale(1); } 
}

.Pulse { 
  width: 600px;
  animation: heartbeat 1.75s infinite;
}
/* CONTENT.JSX */

/* TLDR.JSX */
.Tldr {
  text-align: center;
  color: #342833;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  margin-top: 40px;
}
/* END TLDR.JSX */

/* PAGE WIDTH CONTROL */
@media screen and (max-width: 750px){
  .Pulse{
    font-size: 1.6rem;
    width: 400px;
    transition: .3s;
  }
}
@media screen and (max-width: 600px){
  .TitleName, .Tldr {
    font-size: 1.8rem;
    transition: .3s;
  }
  .TypingText, .FullStack{
    font-size: 1.7rem;
    transition: .3s;
  }
  .RotatingText{
    width: 325px;
    padding-left: 0px;
    transition: .3s;
  }
  .txt-rotate{
    margin-left: -25px;
  }
  .ContentText{
    font-size: 1.2rem;
    transition: .3s;
  }
  .List{
    font-size: .9rem;
    transition: .3s;
    width: 300px;
    padding-left: 20px;
  }
  .Pulse{
    width: 250px;
  }
}