.ShowContainer {
    background-image: url(https://c8.alamy.com/zooms/9/cb923dce190d423d83e7f495aae7fd11/mh8ay7.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 2%;
}

.ShowHeader {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.Users {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHbjzMS93GMDFMhc072_5HH_yzY1eS4Tgvdg&usqp=CAU);
    background-position:bottom;
    background-size: cover;
    border: 3px solid chocolate; 
    border-radius: 10%;
    width: 20%;
    margin: 1% auto;
    padding: 1%;
    font-size: 14px;
    font-weight: 800;
    text-align: start;
}

#ShowH1 {
    margin: 0;
    color:chocolate;
    font-weight: 800;
}
