.App {
    padding: 20px;
  }
  
  body {
    height:100%;
    min-height:100%;
    font-family: 'Cantarell', sans-serif;
    background: radial-gradient(ellipse at center, rgba(2,162,239,1) 0%,rgba(3,106,179,1) 100%);
    color:#424242;
  }
  
  .flex {
    display: flex;
    justify-content: space-evenly;
  }
  
  .banner {
    font-size: 4.5em;
    margin:0;
    text-align: center;
  }
  .banner-sm {
    font-size: 1.75em;
    margin:0;
    text-align: center;
  }